.navbar {
  margin-bottom: 50px;
}

.main {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about h1 {
  margin-bottom: 25px;
}

.donate {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #2ecc71;
  color: #fff;
}

.recent-events {
  padding-top: 50px;
  padding-bottom: 50px;
}

.recent-events h2 {
  text-align: center;
  margin-bottom: 50px;
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #999;
  background: #333;
}