// Fonts
// @import url('https://fonts.googleapis.com/css?family=Lobster');

// Variables
//@import "variables";

// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.body {

}

.navbar {
  margin: {
    bottom: 50px;
  }
}

.main {
  padding: {
    top: 50px;
    bottom: 50px;
  }
}

.about {
  padding: {
    top: 50px;
    bottom: 50px;
  }
  h1 {
    margin: {
      bottom: 25px;
    }
  }
}

.donate {
  padding: {
    top: 50px;
    bottom: 50px;
  }
  background: #2ecc71;
  color: #fff;
}

.recent-events {
  padding: {
    top: 50px;
    bottom: 50px;
  }
  h2 {
    text-align: center;
    margin-bottom: 50px;
  }
}

.footer {
  padding: {
    top: 30px;
    bottom: 30px;
  }
  color: #999;
  background: #333;
}